In [2]:
import numpy as np

## 1. Convert a 1-D array into a 2-D array with 3 rows

In [8]:
arr = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8])
arr

array([0, 1, 2, 3, 4, 5, 6, 7, 8])

In [9]:
arr = arr.reshape((3,3))
arr

array([[0, 1, 2],
       [3, 4, 5],
       [6, 7, 8]])

## 2. Replace all odd numbers in the given array with -1

In [11]:
arr1 = np.array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])
arr1

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [13]:
arr1[arr1%2 == 1] = -1
arr1

array([ 0, -1,  2, -1,  4, -1,  6, -1,  8, -1])

## 3. Find the positions of: elements in x where its value is more than its corresponding element in y, and elements in x where its value is equals to its corresponding element in y.

In [15]:
x = np.array([21, 64, 86, 22, 74, 55, 81, 79, 90, 89])
y = np.array([21, 7, 3, 45, 10, 29, 55, 4, 37, 18])
x, y

(array([21, 64, 86, 22, 74, 55, 81, 79, 90, 89]),
 array([21,  7,  3, 45, 10, 29, 55,  4, 37, 18]))

In [17]:
np.where(x > y)

(array([1, 2, 4, 5, 6, 7, 8, 9]),)

## 4. Extract the first four columns of this 2-D array.

In [19]:
arr2 = np.arange(100).reshape(5,-1)
arr2

array([[ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15,
        16, 17, 18, 19],
       [20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35,
        36, 37, 38, 39],
       [40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55,
        56, 57, 58, 59],
       [60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75,
        76, 77, 78, 79],
       [80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95,
        96, 97, 98, 99]])

In [21]:
arr2[:,:4]

array([[ 0,  1,  2,  3],
       [20, 21, 22, 23],
       [40, 41, 42, 43],
       [60, 61, 62, 63],
       [80, 81, 82, 83]])